<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Styles/main.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <header class="container">
        <div class="row">
            <h1>Arbejdarbejd.dk</h1>
        </div>
    </header>
    <nav class="container">
        <div class="row">
            @Html.ActionLink("Tekster", "Texts", "CMS") | @Html.ActionLink("Tekster", "Categories", "CMS")
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
