body {
}

.disclaimer {
    font-size:12px;
    font-style:italic;
}

.blockSignUp {
    background: linear-gradient(White, #CEECF5);
    border:1px solid #E6E6E6;

    border-radius: 10px;
    padding:25px;
    box-shadow: 10px 10px 25px #E6E6E6;
}

.image-right {
    float:right;
    height:200px;
    padding:25px;
}


.big-form input[type="text"] {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    background: linear-gradient(white, #FAFAFA);
    font-size:28px;
}

.big-form input[type="submit"] {
    width: 120px;
    margin-left: 35px;
    height: 60px;
    font-size:28px;
    padding:10px;
    margin-bottom:10px;
}

