<div class="row big-form search">
    @using (Html.BeginForm("Result", "Search"))
        {
        <div class="col-xs-12 col-md-10">
            <input type="text" name="txtSearch" placeholder="Søg efter en service..." />
        </div>
        <div class="col-xs-12 col-md-2">
            <input type="submit" value="Søg" />
        </div>
        }
</div>

